swagger: "2.0"
info:
  description: "kubersphere devops api"
  version: "1.0.0"
  title: "Kubesphere DevOps"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "apiserver.kubesphere.com:8080"
basePath: "/api/v1alpha"
tags:
- name: "project"
  description: "kubersphere devops project"
- name: "member"
  description: "kubersphere devops project member"
- name: "credential"
  description: "kubersphere devops project credential"
schemes:
- "https"
- "http"
paths:
  /projects:
    post:
      tags:
      - "project"
      summary: "add a devops project"
      description: ""
      operationId: "addProject"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "project"
        required: true
        schema:
          type : object
          required:
          - name
          properties:
            name:
              type: string
            description:
              type: string
      responses:
        200:
          description: project
          schema:
            type : object
            properties:
              project_id:
                type: string
              name:
                type: string
              description:
                type: string
              creator:
                type: string
              create_time:
                type: string
              status:
                type: string
    get:
      tags:
      - "project"
      summary: "get devops projects"
      description: ""
      operationId: "getProjects"
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              properties:
                project_id:
                  type: string
                name:
                  type: string
                description:
                  type: string
                creator:
                  type: string
                create_time:
                  type: string
                status:
                  type: string

  /projects/{project_id}:
    get:
      tags:
      - "project"
      summary: get a project
      description: get a project
      parameters:
      - name: project_id
        in: path
        required: true
        description: project's id
        type: string
      responses:
        200:
          description: a project
          schema:
            required:
            - project_id
            properties:
              project_id:
                type: string
              name:
                type: string
              description:
                type: string
              creator:
                type: string
              create_time:
                type: string
              status:
                type: string
    patch:
      tags:
      - "project"
      summary: update a project
      description: update a project
      parameters:
      - name: project_id
        in: path
        required: true
        description: project's id
        type: string
      - in: body
        name: "body"
        description: "project"
        required: true
        schema:
          type : object
          properties:
            description:
              type: string


      responses:
        200:
          description: a project
          schema:
            required:
            - project_id
            properties:
              project_id:
                type: string
              name:
                type: string
              description:
                type: string
              creator:
                type: string
              create_time:
                type: string
              status:
                type: string
    delete:
      tags:
      - "project"
      summary: delete a project
      description: delete a project
      parameters:
      - name: project_id
        in: path
        required: true
        description: project's id
        type: string
      responses:
        200:
          description: a project
          schema:
            required:
            - project_id
            properties:
              project_id:
                type: string
              name:
                type: string
              description:
                type: string
              creator:
                type: string
              create_time:
                type: string
              status:
                type: string

  /projects/{project_id}/members:
    post:
      summary: create a member
      description: create a member
      tags:
      - member
      parameters:
      - name: project_id
        in: path
        required: true
        description: project's id
        type: string
      - in: body
        name: "body"
        description: "project"
        required: true
        schema:
          type : object
          required:
          - username
          - role
          properties:
            username:
              type: string
            role:
              type: string
              description: "owner/maintainer/developer/reporter"
      responses:
        200:
          description: OK
          schema:
            required:
            - project_id
            properties:
              project_id:
                type: string
              username:
                type: string
              description:
                type: string
              role:
                type: string
              status:
                type: string
              grand_by:
                type: string
    get:
      tags:
      - member
      parameters:
      - name: project_id
        in: path
        required: true
        description: project's id
        type: string
      summary: get project members
      description: get project members
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              properties:
                project_id:
                  type: string
                username:
                  type: string
                description:
                  type: string
                role:
                  type: string
                status:
                  type: string
                grand_by:
                  type: string

  /projects/{project_id}/members/{member_id}:
    get:
      tags:
      - member
      parameters:
      - name: project_id
        in: path
        required: true
        description: project's id
        type: string
      - name: member_id
        in: path
        required: true
        description: member's id
        type: string
      summary: get a member
      description: get a member
      responses:
        200:
          description: OK
          schema:
            required:
            - project_id
            properties:
              project_id:
                type: string
              username:
                type: string
              description:
                type: string
              role:
                type: string
              status:
                type: string
              grand_by:
                type: string
    patch:
      tags:
      - member
      parameters:
      - name: project_id
        in: path
        required: true
        description: project's id
        type: string
      - name: member_id
        in: path
        required: true
        description: member's id
        type: string
      - in: body
        name: "body"
        description: "member"
        required: true
        schema:
          type : object
          properties:
            role:
              type: string

      summary: update member role
      description: update member role
      responses:
        200:
          description: OK
    delete:
      tags:
      - member
      summary: delete a member
      description: delete a member
      parameters:
      - name: project_id
        in: path
        required: true
        description: project's id
        type: string
      - name: member_id
        in: path
        required: true
        description: member's id
        type: string
      responses:
        200:
          description: OK
  /projects/{project_id}/credentials:
    post:
      summary: create a credential
      description: create a credential
      tags:
      - credential
      parameters:
      - name: project_id
        in: path
        required: true
        description: project's id
        type: string
      - in: body
        name: "body"
        description: "project"
        required: true
        schema:
          type : object
          required:
          - type
          - content
          properties:
            type:
              type: string
              description: "username_password/ssh/secret_text"
            domain:
              type: string
              description: "default _"
            content:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: "all credential support"
                username:
                  type: string
                  description: "use in ssh/up credential"
                password:
                  type: string
                  description: "use in username password credential"
                description:
                  type: string
                  description: "all credential support"
                passphrase:
                  type: string
                  description: "use in ssh credential"
                private_key:
                  type: string
                  description: "use in ssh credential"
                secret:
                  type: string
                  description: "use in secret text credential"

      responses:
        200:
          description: OK
          schema:
            required:
            - id
            properties:
              id:
                type: string
                description: "credential id"
    get:
      summary: get credentials
      description: get credentials
      tags:
      - credential
      parameters:
      - name: project_id
        in: path
        required: true
        description: project's id
        type: string
      - name: domain
        in: query
        required: false
        description: "if not provide,get all domains' credential"
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              properties:
                id:
                  type: string
                  description: "credential id"
                display_name:
                  type: string
                  description: "display name"
                type:
                  type: string
                  description: "credential type"

                description:
                  type: string
                  description: "description"
                domain:
                  type: string
                  description: "credential's domain"

  /projects/{project_id}/credentials/{credential_id}:
    get:
      summary: get one credential
      description: get one credential
      tags:
      - credential
      parameters:
      - name: project_id
        in: path
        required: true
        description: project's id
        type: string
      - name: credential_id
        in: path
        required: true
        description: credential_id
        type: string
      - name: domain
        in: query
        required: false
        description: "if not provide,  domain _"
        type: string
      responses:
        200:
          description: OK
          schema:
            properties:
              id:
                type: string
                description: "credential id"
              type:
                type: string
                description: "credential type"
              display_name:
                type: string
              fingerprint:
                type: object
                description: "credentials fingerprint"
                properties:
                  file_name:
                    type: string
                  hash:
                    type: string
                  usage:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                        ranges:
                          type: object
                          properties:
                            ranges:
                              type: array
                              items:
                                properties:
                                  start:
                                    type: integer
                                  end:
                                    type: integer

              description:
                type: string
                description: "description"
              domain:
                type: string
                description: "credential's domain"
    put:
      summary: update a credential
      description: need all field
      tags:
      - credential
      parameters:
      - name: project_id
        in: path
        required: true
        description: project's id
        type: string
      - name: credential_id
        in: path
        required: true
        description: credential_id
        type: string
      - in: body
        name: "body"
        description: "project"
        required: true
        schema:
          type : object
          required:
          - type
          - content
          properties:
            domain:
              type: string
              description: "default _"
            content:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: "all credential support"
                username:
                  type: string
                  description: "use in ssh/up credential"
                password:
                  type: string
                  description: "use in username password credential"
                description:
                  type: string
                  description: "all credential support"
                passphrase:
                  type: string
                  description: "use in ssh credential"
                private_key:
                  type: string
                  description: "use in ssh credential"
                secret:
                  type: string
                  description: "use in secret text credential"
      responses:
        200:
          description: OK
          schema:
            required:
            - id
            properties:
              id:
                type: string
                description: "credential id"
    delete:
      summary: delete a credential
      description: delete a credential
      tags:
      - credential
      parameters:
      - name: project_id
        in: path
        required: true
        description: project's id
        type: string
      - name: credential_id
        in: path
        required: true
        description: credential_id
        type: string
      - name: domain
        in: query
        required: false
        description: "if not provide,  domain _"
        type: string
      responses:
        200:
          description: OK
          schema:
            required:
            - id
            properties:
              id:
                type: string
                description: "credential id"

  /projects/{project_id}/pipelines:
    post:
      summary: create a pipeline
      description: create a pipeline
      tags:
      - pipeline
      parameters:
      - name: project_id
        in: path
        required: true
        description: project's id
        type: string
      - in: body
        name: "body"
        description: "pipeline"
        required: true
        schema:
          type : object
          required:
          - username
          - role
          properties:
            type:
              type: string
              description: job type
            define:
              type: object
              description: pipeline job config
              properties:
                name:
                  type: string
                description:
                  type: string
                discarder:
                  type: object
                  properties:
                    days_to_keep:
                      type: string
                      description: -1 for nothing
                    num_to_keep:
                      type: string
                      description: -1 for nothing
                parameters:
                  type: array
                  items:
                    properties:
                      type:
                        type: string
                        description: string/choice/text/boolean/file
                      name:
                        type: string
                      default_value:
                        type: string
                      description:
                        type: string
                disable_concurrent:
                  type: boolean
                timer_trigger:
                  type: object
                  properties:
                    cron:
                      type: string
                remote_trigger:
                  type: object
                  properties:
                    token:
                      type: string
                jenkinsfile:
                  type: string
            another_define:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                discarder:
                  type: object
                  properties:
                    days_to_keep:
                      type: string
                      description: -1 for nothing
                    num_to_keep:
                      type: string
                      description: -1 for nothing
                timer_trigger:
                  type: object
                  properties:
                    cron:
                      type: string
                    interval:
                      type: string
                script_path:
                  type: string
                source:
                  type: object
                  properties:
                    type:
                      type: string
                      description: git/github
                    define:
                      type: object
                      description: git
                      properties:
                        url:
                          type: string
                        credential_id:
                          type: string
                        discover_branches:
                          type: boolean
                    another_define:
                      type: object
                      description: github
                      properties:
                        owner:
                          type: string
                        repo:
                          type: string
                        credential_id:
                          type: boolean
                        api_uri:
                          type: string
                        discover_branches:
                          type: integer
                          description: "1:除了同时做为PR的branch 2:只有branche同时作为PR 3:所有分支"
                        discover_pr_from_origin:
                          type: integer
                          description: "1:和目标分支进行合并 2:PR分支 :与目标分支进行合并，并为当前PR分支"
                        discover_pr_from_forks:
                          type: object
                          properties:
                            strategy:
                              type: integer
                              description: "1:和目标分支进行合并 2:PR分支 3:与目标分支进行合并，并为当前PR分支"
                            trust:
                              type: integer
                              description: "1:贡献者 2:所有人 3:有写权限的人 4:没有人"

      responses:
        200:
          description: OK
          schema:
            required:
            - id
            properties:
              id:
                type: string
                description: "pipeline id"
  /projects/{project_id}/pipelines/{pipeline_id}:
    delete:
      summary: delete a pipeline
      description: delete a pipeline
      tags:
      - pipeline
      parameters:
      - name: project_id
        in: path
        required: true
        description: project's id
        type: string
      - name: pipeline_id
        in: path
        required: true
        description: pipeline_id
        type: string
      responses:
        200:
          description: OK
          schema:
            required:
            - id
            properties:
              id:
                type: string
                description: "pipeline id"
    put:
      summary: update a pipeline's config
      description: update a pipelin's config
      tags:
      - pipeline
      parameters:
      - name: project_id
        in: path
        required: true
        description: project's id
        type: string
      - name: pipeline_id
        in: path
        required: true
        description: pipeline_id
        type: string
      - in: body
        name: "body"
        description: "pipeline"
        required: true
        schema:
          type : object
          required:
          - username
          - role
          properties:
            type:
              type: string
              description: job type
            define:
              type: object
              description: pipeline job config
              properties:
                name:
                  type: string
                description:
                  type: string
                discarder:
                  type: object
                  properties:
                    days_to_keep:
                      type: string
                      description: -1 for nothing
                    num_to_keep:
                      type: string
                      description: -1 for nothing
                parameters:
                  type: array
                  items:
                    properties:
                      type:
                        type: string
                        description: string/choice/text/boolean/file
                      name:
                        type: string
                      default_value:
                        type: string
                      description:
                        type: string
                disable_concurrent:
                  type: boolean
                timer_trigger:
                  type: object
                  properties:
                    cron:
                      type: string
                remote_trigger:
                  type: object
                  properties:
                    token:
                      type: string
                jenkinsfile:
                  type: string
            another_define:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                discarder:
                  type: object
                  properties:
                    days_to_keep:
                      type: string
                      description: -1 for nothing
                    num_to_keep:
                      type: string
                      description: -1 for nothing
                timer_trigger:
                  type: object
                  properties:
                    cron:
                      type: string
                    interval:
                      type: string
                script_path:
                  type: string
                source:
                  type: object
                  properties:
                    type:
                      type: string
                      description: git/github
                    define:
                      type: object
                      description: git
                      properties:
                        url:
                          type: string
                        credential_id:
                          type: string
                        discover_branches:
                          type: boolean
                    another_define:
                      type: object
                      description: github
                      properties:
                        owner:
                          type: string
                        repo:
                          type: string
                        credential_id:
                          type: boolean
                        api_uri:
                          type: string
                        discover_branches:
                          type: integer
                          description: "1:除了同时做为PR的branch 2:只有branche同时作为PR 3:所有分支"
                        discover_pr_from_origin:
                          type: integer
                          description: "1:和目标分支进行合并 2:PR分支 :与目标分支进行合并，并为当前PR分支"
                        discover_pr_from_forks:
                          type: object
                          properties:
                            strategy:
                              type: integer
                              description: "1:和目标分支进行合并 2:PR分支 3:与目标分支进行合并，并为当前PR分支"
                            trust:
                              type: integer
                              description: "1:贡献者 2:所有人 3:有写权限的人 4:没有人"

      responses:
        200:
          description: OK
          schema:
            required:
            - id
            properties:
              id:
                type: string
                description: "pipeline id"

  /projects/{project_id}/pipelines/{pipeline_id}/config:

    get:
      summary: get a pipeline's config
      description: get a pipelin's config
      tags:
      - pipeline
      parameters:
      - name: project_id
        in: path
        required: true
        description: project's id
        type: string
      - name: pipeline_id
        in: path
        required: true
        description: pipeline_id
        type: string
      responses:
        200:
          description: OK
          schema:
            properties:
              type:
                type: string
                description: job type
              define:
                type: object
                description: pipeline job config
                properties:
                  name:
                    type: string
                  description:
                    type: string
                  discarder:
                    type: object
                    properties:
                      days_to_keep:
                        type: string
                        description: -1 for nothing
                      num_to_keep:
                        type: string
                        description: -1 for nothing
                  parameters:
                    type: array
                    items:
                      properties:
                        type:
                          type: string
                          description: string/choice/text/boolean/file
                        name:
                          type: string
                        default_value:
                          type: string
                        description:
                          type: string
                  disable_concurrent:
                    type: boolean
                  timer_trigger:
                    type: object
                    properties:
                      cron:
                        type: string
                  remote_trigger:
                    type: object
                    properties:
                      token:
                        type: string
                  jenkinsfile:
                    type: string
              another_define:
                type: object
                properties:
                  name:
                    type: string
                  description:
                    type: string
                  discarder:
                    type: object
                    properties:
                      days_to_keep:
                        type: string
                        description: -1 for nothing
                      num_to_keep:
                        type: string
                        description: -1 for nothing
                  timer_trigger:
                    type: object
                    properties:
                      cron:
                        type: string
                      interval:
                        type: string
                  script_path:
                    type: string
                  source:
                    type: object
                    properties:
                      type:
                        type: string
                        description: git/github
                      define:
                        type: object
                        description: git
                        properties:
                          url:
                            type: string
                          credential_id:
                            type: string
                          discover_branches:
                            type: boolean
                      another_define:
                        type: object
                        description: github
                        properties:
                          owner:
                            type: string
                          repo:
                            type: string
                          credential_id:
                            type: boolean
                          api_uri:
                            type: string
                          discover_branches:
                            type: integer
                            description: "1:除了同时做为PR的branch 2:只有branche同时作为PR 3:所有分支"
                          discover_pr_from_origin:
                            type: integer
                            description: "1:和目标分支进行合并 2:PR分支 3:与目标分支进行合并，并为当前PR分支"
                          discover_pr_from_forks:
                            type: object
                            properties:
                              strategy:
                                type: integer
                                description: "1:和目标分支进行合并 2:PR分支 3:与目标分支进行合并，并为当前PR分支"
                              trust:
                                type: integer
                                description: "1:贡献者 2:所有人 3:有写权限的人 4:没有人"
  /projects/{project_id}/pipelines/{pipeline_id}/scm:
    get:
      summary: get a pipeline's scm info
      description: get a pipeline's scm info
      tags:
      - pipeline
      parameters:
      - name: project_id
        in: path
        required: true
        description: project's id
        type: string
      - name: pipeline_id
        in: path
        required: true
        description: pipeline_id
        type: string
      responses:
        200:
          description: OK
          schema:
            properties:
              type:
                type: string
                description: scm type
              repo:
                type: string
                description: scm repo "github is owner:repo, git is the link"
              path:
                type: string
                description: jenkinsfile's path
              api_uri:
                type: string
                description: api uri, may use in github enterprise

  /projects/default_roles/:
    get:
      summary: get a project's default roles
      description: get a project's default roles
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              properties:
                name:
                  type: string
                description:
                  type: string

